body {
  margin: 0;
  background-image: url("../assets/dave1.jpg");
  background-repeat: repeat-y;
  background-size: 100vw;
}

img {
  width: 100vw;
}

.header {
  background-color: rgba(4, 30, 66, 0.5);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 50pt;
  font-weight: 100;
  padding-bottom: 30px;
  font-family: helvetica;
  color: #ffc72c;
  text-align: center;
  border-bottom: 2px #ffc72c solid;
}

.header h3 {
  font-family: helvetica;
  font-size: 16px;
  color: #ffc72c;
  text-align: center;
}

.left-container {
  padding: 100px;
}

.stats {
  background-color: rgba(4, 30, 66, 0.5);
  max-width: 600px;
  padding: 10px 20px;
  border-radius: 5px;
}

h2 {
  color: white;
  font-family: helvetica;
  font-weight: 100;
}

ul {
  list-style: none;
}

h3 {
  color: white;
  font-weight: 100;
}

.footnote {
  color: white;
  font-size: 12px;
}

.sponsor {
  background-color: rgba(4, 30, 66, 0.5);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  max-width: 600px;
}

.sponsor p {
  color: white;
  font-weight: 100;
  text-align: center;
  font-size: 14px;
}
